@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --blue: #3399FF;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.7rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background:var(--blue);
}

body{
    background:#eee;
    padding-right: 5rem;
}

section{
    padding:2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:#222;
}

.heading span{
    text-transform: uppercase;
    color:var(--blue);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 20px;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover{
    background:var(--blue);
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; right:0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#eee;
    z-index: 1000;
}

header .navbar{
    writing-mode: vertical-lr;
    padding-right: 3rem;
    
}
header .navbar .hom{
    background-color: rgb(0, 140, 255);
}
header .navbar .abo{
    background-color: rgb(0, 140, 255);
}
header .navbar .ser{
    background-color: rgb(0, 140, 255);
}
header .navbar .por{
    background-color: rgb(0, 140, 255);
}
header .navbar .blo{
    background-color: rgb(0, 140, 255);
}
header .navbar .con{
    background-color: rgb(0, 140, 255);
}


header .navbar a{
    padding:1.2rem;
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

header .navbar a:hover{
    color:black;
    background-color: #FFFF00;
}



#menu-bars{
    position: fixed;
    z-index: 10000;
    top:1rem; left:1rem;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    color:#fff;
    background: var(--blue);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width:25rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid var(--blue);
}

.home .content h3{
    font-size: 4rem;
    color:#222;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--blue);
    text-transform: uppercase;
}

.home .content p{
    color:#222;
    font-size: 2.5rem;
    line-height: 2;
}

.social a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#333;
    font-size: 20px;
    color: #fff;
    margin-right: 8px;
}
.social a:hover{
    transform: scale(1.1);
    background: var(--blue);
    color: #fff;
    transition: .5s;
}

/*============= About =================*/

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: .5rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    color:#222;
    font-size: 4rem;
}

.about .row .content h3 span{
    color:var(--blue);
}

.about .row .content .info{
    color:#333;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
}


/*============= Service =================*/
.container{
    display: flex;
    flex-wrap:wrap;
    gap: 8rem;
    }
    .card{
    position: relative;
    }
    .face{
    width:300px;
    height: 200px;
    transition:.4s;
    }
    .face1{
    position: relative;
    background:var(--blue);
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    }
    .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    }
    .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
    text-align: center;
    }
    .card:hover .face.face1 .content{
    opacity: 1;
    }
    
    .face.face1 .content i{
    font-size: 4em;
    color: rgb(0, 0, 0);
    display: inline-block;
    }
    .card:hover .face.face1 .content i{
        color: #eee;
        font-size: 6rem;
    }
    .card:hover .face.face1 .content h3{
        color: #eee;
        font-size: 1.5rem;
    }
    .face.face1 .content h3{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    }
    .face.face1 .content a{
    transition: .5s;
    }
    .face.face2{
    position: relative;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0,0,0,.8);
    transform: translateY(-100px);
    }
    .card:hover .face.face2{
    transform: translateY(0);
    }
    p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
    }
    .ser p{
        font-size: 11pt;
        color: black;
        font-weight: 600;
        text-align: center;
    }
    
    .face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    transition: .5s;
    }
    .face2 .content a:hover{
    background: #333 ;
    color: whitesmoke;
    transform: scale(1.1);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    }




/*============= Portfolio =================*/
#portfolio .heading{
    margin-bottom: 8rem;
}
.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:.2rem solid var(--blue);
    border-radius: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    height:25rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box-container .box:hover .content{
    left:0;
}


/*================ contact =====================*/

.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#fff;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--blue);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    padding:2.5rem;
    font-size: 2rem;
    color:#666;
    background:#fff;
    text-align: center;
}

.footer span{
    color:var(--blue);
}



















/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }
    

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }
    header .navbar .hom{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar .abo{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar .ser{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar .por{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar .blo{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar .con{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 600;
    }
    header .navbar a{
        display: block;
        font-size: 3rem;
        color: #000000;
        margin: 10px;
        border-radius: 8px;
        text-align: center;
        transition: .8s;
    }
    header .navbar a:hover{
        color:black;
        background-color: #8b8b8b;
        transform: scale(1.1);
    }
    .container{
        display: flex;
        flex-wrap:wrap;
        gap: 3rem;
        
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }
    .container{
        display: flex;
        justify-content: center;
        gap: 3rem;
        
    }
    .portfolio .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
    .portfolio .box-container .box{
        height: 30rem;
    }

    
    /*--==Site 1==--*/
    #course-inner .overview .course-head .c-name h3 {
        font-size: 1.1rem;
    }
    #course-inner p {
        font-size: .8rem;
    }
    #course-inner .overview .course-head span{
        font-size: .9rem;
        line-height: 50px;
        width: 50px;
        height: 50px;
    }
    #course-inner .learn p i {
    margin-right: 5px;
	}
    .about .row .content h3{
        font-size: 2.5rem;
        text-align: center;
    }
    
    .about .row .content h3 span{
        font-size: 2.5rem;
    }
}